/* 로그인 화면에 대한 로컬 스타일 */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.login__content {
  display: grid;
}

.login__forms {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.login__register,
.login__create {
  width: 100%;
  background-color: #f2f2f2;
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
  animation-duration: 0.4s;
  animation-name: animateLogin;
}

.login__title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.login__box {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5rem;
  padding: 1.125rem 1rem;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.login__icon {
  font-size: 1.5rem;
  color: #4AD395;
}

.login__image {
  display: block;
  margin: 1rem auto;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
}

.login__input {
  border: none;
  outline: none;
  font-size: 0.938rem;
  font-weight: 700;
  color: #23004d;
  width: 100%;
}

.login__input::placeholder {
  font-size: 0.938rem;
  font-family: "Open Sans", sans-serif;
  color: #a49eac;
}

.login__forgot {
  display: block;
  width: max-content;
  margin-left: auto;
  margin-top: 0.5rem;
  font-size: 0.813rem;
  font-weight: 600;
  color: #a49eac;
}

.login__button {
  margin-top: 16px;
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  margin: 2rem auto;
  background-color: #4AD395;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.login__button:hover {
  background-color: #65bf97;
}

.login__account,
.login__signin,
.login__signup {
  font-weight: 600;
  font-size: 0.813rem;
}

.login__account--account,
.login__signin--account,
.login__signup--account {
  color: #23004d;
}

.login__account--signin,
.login__account--signup,
.login__signin--signin,
.login__signin--signup,
.login__signup--signin,
.login__signup--signup {
  color: #4AD395;
  cursor: pointer;
}

@keyframes animateLogin {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}