/* 기본 스타일 초기화 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:global(*) {
  box-sizing: border-box;
}

:global(body) {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.938rem;
  color: #23004d;
}

:global(h1) {
  margin: 0;
}

:global(a) {
  text-decoration: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 1.5rem;
}

.loginContent {
  display: grid;
}

.loginForms {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.loginRegister {
  width: 100%;
  background-color: #f2f2f2;
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
  animation-duration: 0.4s;
  animation-name: animateLogin;
}

.loginTitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.loginBox {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5rem;
  padding: 1.125rem 1rem;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.loginIcon {
  font-size: 1.5rem;
  color: #4ad395;
}

.loginInput {
  border: none;
  outline: none;
  font-size: 0.938rem;
  font-weight: 700;
  color: #23004d;
  width: 100%;
}

.loginInput::placeholder {
  font-size: 0.938rem;
  font-family: "Open Sans", sans-serif;
  color: #a49eac;
}

.loginForgot {
  display: block;
  width: max-content;
  margin-left: auto;
  margin-top: 0.5rem;
  font-size: 0.813rem;
  font-weight: 600;
  color: #a49eac;
}

.loginButton {
  margin-top: 16px;
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  margin: 2rem auto;
  background-color: #4ad395;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.loginButton:hover {
  background-color: #65bf97;
}

.loginSignin {
  font-weight: 600;
  font-size: 0.813rem;
}

.loginSigninSignup {
  color: #4ad395;
  cursor: pointer;
}

@keyframes animateLogin {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media screen and (min-width: 576px) {
  .loginForms {
    width: 348px;
    justify-self: center;
  }
}

@media screen and (min-width: 1024px) {
  .login {
    height: 100vh;
    overflow: hidden;
  }

  .loginContent {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
  }

  .loginRegister {
    position: relative;
    bottom: 0;
  }
}
