/* Container */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
}

/* Title Row */
.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  flex-grow: 1;
}

.title {
  font-size: 28px;
  margin: 0;
  padding-bottom: 10px;
  position: relative;
  color: #333;
  overflow: hidden;
  max-width: 80%;
}

.kindTag {
  display: inline-block;
  background-color: #f0f0f0;
  margin-right: 10px;
  color: #333;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: 8px;
}

.metaInfo {
  padding: 4px 0;
  border-bottom: none;
  color: #333;
  gap: 10px;
}

.metaInfo.last {
  margin-bottom: 12px;
  position: relative;
}

.metaInfo.last::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #007bff;
  margin-top: 5px;
}



/* Viewer Container */
.viewerContainer {
  margin-top: 40px;
  padding-bottom: 30px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}

/* Buttons */
.btnDelete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto;
}

.btnDelete:hover {
  background-color: #c82333;
}

.btnPrimary {
  position: absolute;
  right: 0;
  bottom: 7px;
  height: 80px;
  width: 90px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #495057;
  color: white;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnPrimary:hover {
  background-color: #495057;
}

/* Comment Section */
.commentSection {
  margin-top: 120px;
}

.commentTitle {
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 2px solid #007bff;
  color: #333;
}

.commentItem p {
  margin: 3px;
  padding: 0;
}

.commentItem p.commentContent {
  text-indent: 10px;
}

.commentItem strong {
  display: block;
  margin-bottom: 5px;
}

.commentMeta {
  font-size: 0.9em;
  color: #777;
  margin-top: 5px;
}

.commentEdit {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 10px;
  margin-left: 10px;
}

.commentEdit:hover {
  color: darkblue;
}

.commentDelete {
  color: red;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 1px;
}

.commentDelete:hover {
  color: darkred;
}

/* Form Group */
.formGroup {
  position: relative;
  margin-bottom: 20px;
}

.formGroup textarea {
  width: 100%;
  padding: 15px;
  padding-right: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: vertical;
  box-sizing: border-box;
}

/* Flag Section */
.flagSection {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.inputBox {
  display: flex; /* 입력창과 버튼을 일렬로 나열 */
  flex-direction: row; /* 가로 방향으로 배치 */
  align-items: center; /* 세로 방향으로 중앙 정렬 */
  min-width: 300px; /* 입력창이 너무 작아지지 않도록 최소 너비 설정 */
  width: 90%;
}

.flagInput {
  flex: 1; /* 입력창이 가능한 공간을 차지하도록 설정 */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* 테두리와 패딩 포함 */
}

.flagButton {
  padding: 10px 16px;
  font-size: 14px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: fit-content;
  flex-shrink: 0; /* 버튼이 줄어들지 않도록 */
}

.flagButton:hover {
  background-color: #495057;
}

.messageBox {
  margin-top: 10px;
}

.flagMessage {
  font-size: 14px;
  font-weight: bold;
}

.flagMessage.errorMessage {
  color: #dc3545; /* 오답 메시지 색상 */
}

.flagMessage.successMessage {
  color: #28a745; /* 정답 메시지 색상 */
}



/* Button Container */
.buttonContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vmButton, .downloadButton {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: auto;
}

.vmButton {
  background-color: #28a745;
  color: #FFFFFF;
  margin-left: 10px;
}

.vmButton:hover {
  background: linear-gradient(90deg, #218838, #28a745);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.downloadButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* VM Section */
.vmSection {
  margin-top: 30px;
  margin-bottom: 20px;
}

.vmAddressWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.vmAddress {
  margin-top: 10px;
  color: #333;
  font-size: 14px;
  text-align: center;
  margin-left: 10px;
}

.disabled {
  color: red;
}

/* Ranking Section */
.rankingBox {
  margin-top: 50px;
}

.rankingSection {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.rankingTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.rankingList {
  list-style-type: none;
  padding: 0;
}

.rankingItem {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.rankingItem span {
  font-size: 1rem;
}
