.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  flex-grow: 1;
}

.title {
  font-size: 28px;
  margin: 0;
  padding-bottom: 10px;
  position: relative;
  color: #333;
  overflow: hidden;
  max-width: 80%;
}

.metaInfo {
  padding: 4px 0;
  border-bottom: none;
  color: #333;
}

.metaInfo.last {
  margin-bottom: 12px;
  position: relative;
}

.metaInfo.last::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #007bff;
  margin-top: 5px;
}

.viewerContainer {
  margin-top: 40px;
  padding-bottom: 30px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}

.btnDelete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto;
}

.btnDelete:hover {
  background-color: #c82333;
}

.commentSection {
  margin-top: 60px;
}

.commentTitle {
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 2px solid #007bff;
  color: #333;
}

.formGroup {
  position: relative;
  margin-bottom: 20px;
}

.formGroup textarea {
  width: 100%;
  padding: 15px;
  padding-right: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: vertical;
  box-sizing: border-box;
}

.btnPrimary {
  position: absolute;
  right: 0;
  bottom: 7px;
  height: 80px;
  width: 90px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #495057;
  color: white;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnPrimary:hover {
  background-color: #495057;
}

.commentItem p {
  margin: 3px;
  padding: 0;
}

.commentItem p.commentContent {
  text-indent: 10px;
}

.commentItem strong {
  display: block;
  margin-bottom: 5px;
}

.commentMeta {
  font-size: 0.9em;
  color: #777;
  margin-top: 5px;
}

.commentEdit {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 10px;
  margin-left: 10px;
}

.commentEdit:hover {
  color: darkblue;
}

.commentDelete {
  color: red;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 1px;
}

.commentDelete:hover {
  color: darkred;
}

.flagSection {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.flagTitle {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
  padding-bottom: 8px;
}

.flagForm {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.flagInput {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.flagButton {
  padding: 10px 16px;
  font-size: 14px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 90%;
}

.flagButton:hover {
  background-color: #495057;
}

.flagMessage {
  margin-top: 10px;
  color: #28a745;
  font-weight: bold;
}

.viewerContainer {
  margin-top: 40px;
  padding-bottom: 30px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex; /* 플렉스 레이아웃 사용 */
  gap: 20px; /* 버튼 박스 간 간격 */
  justify-content: center; /* 버튼 박스들을 중앙 정렬 */
  margin-top: 20px;
}

.buttonBox {
  display: flex;
  justify-content: center; /* 버튼을 박스 내부 가운데 정렬 */
  align-items: center; /* 버튼을 수직 가운데 정렬 */
  background-color: #f9f9f9; /* 박스 배경색 */
  padding: 40px; /* 여백 */
  border-radius: 8px; /* 둥근 모서리 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 */
}

.vmButton, .downloadButton {
  padding: 10px 20px; /* 버튼의 상하 여백과 좌우 여백을 동일하게 설정 */
  font-size: 16px; /* 동일한 폰트 크기 */
  border-radius: 8px; /* 둥근 모서리 */
  cursor: pointer; /* 클릭 커서 */
  display: inline-block; /* 블록 수준 요소로 처리 */
  text-align: center; /* 텍스트 중앙 정렬 */
  width: auto; /* 자동 너비로 설정하여 동일한 크기로 유지 */
}
.vmButton {
  background-color: #28a745;
  color: #FFFFFF;
}


.downloadButton:disabled {
  background-color: #cccccc; /* 비활성화 상태 배경 */
  cursor: not-allowed; /* 비활성화 상태 커서 */
}

.vmSection {
  margin-top: 30px;
  margin-bottom: 20px;
}


.vmButton:hover {
  background-color: #5a6268; /* 호버 시 더 어두운 회색 */
}

.vmAddressWrapper {
  display: flex; /* 플렉스 박스 */
  flex-direction: column; /* 세로 방향으로 배치 */
  align-items: center; /* 가운데 정렬 */
  margin-top: 10px; /* 버튼과 텍스트 사이 여백 */
}

.vmAddress {
  margin-top: 10px; /* 위쪽 여백 */
  color: #333; /* 텍스트 색상 */
  font-size: 14px; /* 텍스트 크기 */
  text-align: center; /* 중앙 정렬 */
}

.rankingSection {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.rankingTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.rankingList {
  list-style-type: none;
  padding: 0;
}

.rankingItem {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.rankingItem span {
  font-size: 1rem;
}

