/* General Styles */
.ranking {
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 20px;
  padding: 80px 0;
  font-family: Arial, sans-serif;
}

.rankingTitle {
  width: 100%;
  text-align: center;
}

.rankingTitle h3 {
  font-family: Arial, sans-serif;
  font-size: 40px;
  color: #333333;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.table th {
  background-color: #495057;
  color: white;
  padding: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.cell {
  padding: 10px;
  text-align: center;
  color: #333;
  border-bottom: 1px solid #e0e0e0;
}

.row:nth-child(even) {
  background-color: #f1f1f1;
}

.row:hover {
  background-color: #e8f5e9;
  cursor: pointer;
}

/* 드롭다운 왼쪽 정렬 */
.dropdown {
  padding: 10px;
  font-size: 1.1rem;
  background-color: #495057;
  color: white;
  border-radius: 5px;
  border: none;
  width: 200px;
  cursor: pointer;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  display: block;
  margin-left: 0; /* 왼쪽 여백 0으로 설정 */
}

.dropdown:hover {
  background-color: #343a40;
}